/* ==== CSS ==== */
/* ==== General ==== */

@charset "utf-8";

A:link {text-decoration: none; color: #000; border: 0px;}
A:visited {text-decoration: none; color: #009 border: 0px;}
A:active {text-decoration: none}
A:hover {text-decoration underline; color: #09F;}

.container {
	background: #FFF;
	font: Arial, Helvetica, sans-serif;
	margin: auto;
	overflow: auto;
	width: 1000px;
	height: auto;
}

.header {
	background: #E4E4E4;
	border: 2px solid #000;
	height: 153px;
}

#logo{
	width: 255px;
	border-right: 2px solid #000;
	background-color: #FFF;
	height: 153px;
}

#logo a img {
	width: 255px;
}

#page_logo {
	width: 255px;
	height: 150px;
	margin-left: 740px;
	margin-top: -152px;
}

#page_logo img {
	height: 152px;
	border-left: 2px solid #000;
}

.menu{
	border: 2px solid #000;
	border-top: 0px;
	height: 30px;
	width: 626px;
}


#interests, #movie, #flash, #blender{
	height: 30px;
	width: 110px;
	font-size: 24px;
	text-align: center;
	border-left: 0px solid #000;
	border-right: 2px solid #000;
	background-color: #E4E4E4;	
	text-shadow:2px 2px 3px #5C5C5C;	
}

#about{
	height: 30px;
	width: 110px;
	font-size: 24px;;
	margin-left: 30px;
	text-align: center;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	background-color: #E4E4E4;
	text-shadow:2px 2px 3px #5C5C5C;
}

#interests{
	margin-left: 145px;
	margin-top: -30px;
}

#movie{
	margin-left: 257px;
	margin-top: -30px;
}

#flash{
	margin-left: 370px;
	margin-top: -30px;
}

#blender{
	margin-left: 483px;
	margin-top: -30px;
}

#top_bar{
	background-color: #E4E4E4;
	width: 336px;
	height: 30px; 
	margin-top: -32px;
	margin-left: 630px;
	border: 2px solid #000;
	border-left: 0px;
	border-top: 0px;
}

#top_bar2{
	width: 32px;
	height: 30px;
	margin-top: -32px;
	margin-left: 966px;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

.body{
	width: 1000px;
	height: auto;
}

.footer{
	margin-top: 75px;
	height: 30px;
	background-color: #FFF;
	border: 2px solid #000;
}

#bottom_bar1{
	height: 30px;
	width: 30px;
	border-right: 2px solid #000;
	background-color: #FFF;	
}

#feedback{
	height: 30px;
	width: 223px;
	font-size: 24px;;
	margin-left: 32px;
	margin-top: -30px;
	text-align: center;
	border-left: 0px solid #000;
	border-right: 2px solid #000;
	background-color: #E4E4E4;	
	text-shadow:2px 2px 3px #5C5C5C;
}

#top{
	height: 30px;
	width: 222px;
	font-size: 24px;
	margin-left: 742px;
	margin-top: -30px;
	text-align: center;
	border-right: 2px solid #000;
	background-color: #E4E4E4;	
	text-shadow:2px 2px 3px #5C5C5C;
}

#bottom_bar2{
	height: 30px;
	width: 482px;
	margin-left: 258px;
	margin-top: -30px;
	border-right: 2px solid #000;
	background-color: #E4E4E4;
}

#bottom_bar3{
	height: 30px;
	width: 28px;
	background-color: #FFF;
	margin-left: 968px;
	margin-top: -30px;
}

#intro {
	width: 900px;
	margin-left: 32px;
	font-style: italic;
	font-size: 16px;
	border: 2px solid #000;
	padding: 7px 7px 7px 25px;
}

/* ==== End Of General ==== */

/* ==== Index Page ==== */

#about_page h1{
	text-shadow: 1px 1px 3px #666;
	text-align: center;
	margin-top: 40px;
}

#links h1{
	text-shadow: 1px 1px 3px #666;
	text-align: center;
	margin-top: 40px;
}

#about_text, #link_text {
	width: 950px;
	margin-left: 35px;
}

#mediafire_links {
	width: 800px;
	margin-left: 100px;
}

/* ==== End of Index Page ==== */

/* ==== Interest Page ==== */
#Titles1 h1, h2, h3, h1, h2, h3 {
	font-size: 24px;
	margin-top: 0px;
}

#Titles1 h1 {
	margin-left: 32px;
}

#Titles1 h2 {
	margin-left: 440px;
	margin-top: -40px;
}

#Titles1 h3 {
	margin-left: 782px;
	margin-top: -40px;
}

#ruby {
	width: 200px;
	height: 450px;
	margin-top: 30px;
}

#ruby_img {
	margin-left: 40px;
	margin-top: -20px;
	width: 100px;
}

#ruby_text {
	font-size: 13px;
	width: 200px;
	text-align: center;
	border: 2px solid;
	padding: 5px;
	margin-top: 17px;
}

#music {
	width: 200px;
	margin-left: 360px;
	margin-top: -438px;
	height: 450px;
}

#music a img{
	width: 135px;
	margin-left: 40px;
}

#music_text{
	font-size: 13px;
	width: 200px;
	text-align: center;
	border: 2px solid;
	padding: 5px;
	margin-top: 25px;
}

.player {
	float: none;
}

.player .audio_player embed {
	border: 1px solid #111111;
	border-top: 0px;
}

#violin {
	margin-left: 722px;
	margin-top: -450px;
	width: 200px;
	height: 450px;
}

#violin a img{
	height: 135px;
	margin-left: 50px;
}

#violin_text {
	font-size: 13px;
	width: 200px;
	text-align: center;
	margin-top: 30px;
	border: 2px solid;
	padding: 5px;
}

#Titles2 {
	margin-top: 10px;
}

#Titles2 h1{
	margin-left: 70px;
}

#Titles2 h2{
	margin-left: 431px;
	margin-top: -40px;
}

#Titles2 h3{
	margin-left: 790px;
	margin-top: -40px;
}
#astronomy {
	width: 200px;
	margin-top: 30px;
	height: 450px;
}

#astronomy a img{
	margin-left: 27px;
}

#astronomy_text {
	font-size: 13px;
	width: 200px;
	text-align: center;
	margin-top: 30px;
	border: 2px solid;
	padding: 5px;	
}

#books {
	width: 200px;
	margin-top: -460px;
	margin-left: 360px;
	height: 450px;
}

#books a img{
	margin-left: 50px;
	height: 170px
}

#books_text {
	font-size: 13px;
	width: 200px;
	text-align: center;
	margin-top: 28px;
	border: 2px solid;
	padding: 5px;	
}

#games{
	width: 200px;
	margin-top: -440px;
	margin-left: 700px;
	height: 450px;
}

#games a img{
	height: 123px;
	margin-top: 10px;
}

#games_text {
	font-size: 13px;
	width: 200px;
	text-align: center;
	margin-top: 53px;
	margin-left: 11px;
	border: 2px solid;
	padding: 5px;
}

#interests_spacer{
	height: 125px;
}

/* ==== End of Interest Page ==== */

/* ==== Movie Page ==== */

#movie_flash {
	margin-top: 50px;
	margin-left: 150px;
}

/* ==== End of Movie Page ==== */

/* ==== Flash Page ==== */

#MP3_Player {
   margin-left: 300px;
}
/* ==== End of Flash Page ==== */

/* ==== Blender Page ==== */

#balloons h1{
	text-shadow: 1px 1px 3px #666;
	text-align: center;
	margin-top: 40px;
}

#balloons_text {
	width: 950px;
	margin-left: 35px;
	text-align: center
}

#balloons_img {
	margin-left: 250px;
	margin-top: 35px;
}

#balloons_img1 {
	margin-left: 224px;
	margin-top: 35px;
}
/* ==== End of Blender Page ==== */
/* ==== End of CSS ==== */
